HolidayReservationSystemClient/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getBiggestFare">
<part name="parameters" element="tns:getBiggestFare"/>
</message>
<message name="getBiggestFareResponse">
<part name="parameters" element="tns:getBiggestFareResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="CabinClassNotFoundException">
<part name="fault" element="tns:CabinClassNotFoundException"/>
</message>
<message name="checkIfBooked">
<part name="parameters" element="tns:checkIfBooked"/>
</message>
<message name="checkIfBookedResponse">
<part name="parameters" element="tns:checkIfBookedResponse"/>
</message>
<message name="retrieveItineraryById">
<part name="parameters" element="tns:retrieveItineraryById"/>
</message>
<message name="retrieveItineraryByIdResponse">
<part name="parameters" element="tns:retrieveItineraryByIdResponse"/>
</message>
<message name="ItineraryNotFoundException">
<part name="fault" element="tns:ItineraryNotFoundException"/>
</message>
<message name="createNewItinerary">
<part name="parameters" element="tns:createNewItinerary"/>
</message>
<message name="createNewItineraryResponse">
<part name="parameters" element="tns:createNewItineraryResponse"/>
</message>
<message name="ItineraryExistException">
<part name="fault" element="tns:ItineraryExistException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="UserNotFoundException">
<part name="fault" element="tns:UserNotFoundException"/>
</message>
<message name="retrieveItinerariesByCustomerId">
<part name="parameters" element="tns:retrieveItinerariesByCustomerId"/>
</message>
<message name="retrieveItinerariesByCustomerIdResponse">
<part name="parameters" element="tns:retrieveItinerariesByCustomerIdResponse"/>
</message>
<message name="getIndirectFlightSchedules">
<part name="parameters" element="tns:getIndirectFlightSchedules"/>
</message>
<message name="getIndirectFlightSchedulesResponse">
<part name="parameters" element="tns:getIndirectFlightSchedulesResponse"/>
</message>
<message name="FlightNotFoundException">
<part name="fault" element="tns:FlightNotFoundException"/>
</message>
<message name="retrieveFlightScheduleById">
<part name="parameters" element="tns:retrieveFlightScheduleById"/>
</message>
<message name="retrieveFlightScheduleByIdResponse">
<part name="parameters" element="tns:retrieveFlightScheduleByIdResponse"/>
</message>
<message name="getCorrectSeatInventory">
<part name="parameters" element="tns:getCorrectSeatInventory"/>
</message>
<message name="getCorrectSeatInventoryResponse">
<part name="parameters" element="tns:getCorrectSeatInventoryResponse"/>
</message>
<message name="SeatInventoryNotFoundException">
<part name="fault" element="tns:SeatInventoryNotFoundException"/>
</message>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="ReservationExistException">
<part name="fault" element="tns:ReservationExistException"/>
</message>
<message name="UpdateSeatsException">
<part name="fault" element="tns:UpdateSeatsException"/>
</message>
<message name="getFlightSchedules">
<part name="parameters" element="tns:getFlightSchedules"/>
</message>
<message name="getFlightSchedulesResponse">
<part name="parameters" element="tns:getFlightSchedulesResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/doLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getBiggestFare">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getBiggestFareRequest" message="tns:getBiggestFare"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getBiggestFareResponse" message="tns:getBiggestFareResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/getBiggestFare/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/getBiggestFare/Fault/CabinClassNotFoundException"/>
</operation>
<operation name="checkIfBooked">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/checkIfBookedRequest" message="tns:checkIfBooked"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/checkIfBookedResponse" message="tns:checkIfBookedResponse"/>
</operation>
<operation name="retrieveItineraryById">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveItineraryByIdRequest" message="tns:retrieveItineraryById"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveItineraryByIdResponse" message="tns:retrieveItineraryByIdResponse"/>
<fault message="tns:ItineraryNotFoundException" name="ItineraryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveItineraryById/Fault/ItineraryNotFoundException"/>
</operation>
<operation name="createNewItinerary">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewItineraryRequest" message="tns:createNewItinerary"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewItineraryResponse" message="tns:createNewItineraryResponse"/>
<fault message="tns:ItineraryExistException" name="ItineraryExistException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewItinerary/Fault/ItineraryExistException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewItinerary/Fault/InputDataValidationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewItinerary/Fault/UnknownPersistenceException"/>
<fault message="tns:UserNotFoundException" name="UserNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewItinerary/Fault/UserNotFoundException"/>
</operation>
<operation name="retrieveItinerariesByCustomerId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveItinerariesByCustomerIdRequest" message="tns:retrieveItinerariesByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveItinerariesByCustomerIdResponse" message="tns:retrieveItinerariesByCustomerIdResponse"/>
</operation>
<operation name="getIndirectFlightSchedules">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getIndirectFlightSchedulesRequest" message="tns:getIndirectFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getIndirectFlightSchedulesResponse" message="tns:getIndirectFlightSchedulesResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/getIndirectFlightSchedules/Fault/FlightNotFoundException"/>
</operation>
<operation name="retrieveFlightScheduleById">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveFlightScheduleByIdRequest" message="tns:retrieveFlightScheduleById"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveFlightScheduleByIdResponse" message="tns:retrieveFlightScheduleByIdResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveFlightScheduleById/Fault/InvalidLoginCredentialException"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveFlightScheduleById/Fault/FlightScheduleNotFoundException"/>
</operation>
<operation name="getCorrectSeatInventory">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getCorrectSeatInventoryRequest" message="tns:getCorrectSeatInventory"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getCorrectSeatInventoryResponse" message="tns:getCorrectSeatInventoryResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/getCorrectSeatInventory/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/getCorrectSeatInventory/Fault/SeatInventoryNotFoundException"/>
</operation>
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
<fault message="tns:ReservationExistException" name="ReservationExistException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/ReservationExistException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/UnknownPersistenceException"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/SeatInventoryNotFoundException"/>
<fault message="tns:ItineraryNotFoundException" name="ItineraryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/ItineraryNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/InputDataValidationException"/>
<fault message="tns:UpdateSeatsException" name="UpdateSeatsException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/UpdateSeatsException"/>
</operation>
<operation name="getFlightSchedules">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getFlightSchedulesRequest" message="tns:getFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getFlightSchedulesResponse" message="tns:getFlightSchedulesResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/getFlightSchedules/Fault/FlightNotFoundException"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getBiggestFare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="checkIfBooked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveItineraryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ItineraryNotFoundException">
<soap:fault name="ItineraryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ItineraryExistException">
<soap:fault name="ItineraryExistException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="UserNotFoundException">
<soap:fault name="UserNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveItinerariesByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIndirectFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightScheduleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getCorrectSeatInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationExistException">
<soap:fault name="ReservationExistException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
<fault name="ItineraryNotFoundException">
<soap:fault name="ItineraryNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="UpdateSeatsException">
<soap:fault name="UpdateSeatsException" use="literal"/>
</fault>
</operation>
<operation name="getFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>