HolidayReservationSystemClient/xml-resources/web-service-references/FlightReservationWebService/wsdl/localhost_8080/FlightReservationWebService/FlightReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=2"/>

<xs:element name="CabinClassNotFoundException" type="tns:CabinClassNotFoundException"/>

<xs:element name="FlightNotFoundException" type="tns:FlightNotFoundException"/>

<xs:element name="FlightScheduleNotFoundException" type="tns:FlightScheduleNotFoundException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="doLogin" type="tns:doLogin"/>

<xs:element name="doLoginResponse" type="tns:doLoginResponse"/>

<xs:element name="getBiggestFare" type="tns:getBiggestFare"/>

<xs:element name="getBiggestFareResponse" type="tns:getBiggestFareResponse"/>

<xs:element name="getFlightSchedules" type="tns:getFlightSchedules"/>

<xs:element name="getFlightSchedulesResponse" type="tns:getFlightSchedulesResponse"/>

<xs:element name="getIndirectFlightSchedules" type="tns:getIndirectFlightSchedules"/>

<xs:element name="getIndirectFlightSchedulesResponse" type="tns:getIndirectFlightSchedulesResponse"/>

<xs:complexType name="getBiggestFare">
<xs:sequence>
<xs:element name="arg0" type="tns:flightScheduleEntity" minOccurs="0"/>
<xs:element name="arg1" type="tns:cabinClassTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightScheduleEntity">
<xs:sequence>
<xs:element name="departureDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="duration" type="xs:int"/>
<xs:element name="flightScheduleID" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlanEntity" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seatInventory" type="tns:seatInventoryEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedulePlanEntity">
<xs:sequence>
<xs:element name="complementary" type="tns:flightSchedulePlanEntity" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="fares" type="tns:fareEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flight" type="tns:flightEntity" minOccurs="0"/>
<xs:element name="flightNum" type="xs:string" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightScheduleEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flightSchedulePlanID" type="xs:long" minOccurs="0"/>
<xs:element name="recurrentEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="source" type="tns:flightSchedulePlanEntity" minOccurs="0"/>
<xs:element name="typeExistingInPlan" type="tns:scheduleTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fareEntity">
<xs:sequence>
<xs:element name="cabin" type="tns:cabinClassEntity" minOccurs="0"/>
<xs:element name="cabinClass" type="tns:cabinClassEntity" minOccurs="0"/>
<xs:element name="fareAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="fareBasisCode" type="xs:string" minOccurs="0"/>
<xs:element name="fareID" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlanEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cabinClassEntity">
<xs:sequence>
<xs:element name="aircraftConfig" type="tns:aircraftConfigurationEntity" minOccurs="0"/>
<xs:element name="cabinClassID" type="xs:long" minOccurs="0"/>
<xs:element name="cabinClassType" type="tns:cabinClassTypeEnum" minOccurs="0"/>
<xs:element name="maxSeatCapacity" type="xs:int"/>
<xs:element name="numOfAisles" type="xs:int"/>
<xs:element name="numOfRows" type="xs:int"/>
<xs:element name="numOfSeatsAbreast" type="xs:int"/>
<xs:element name="seatingConfigPerColumn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftConfigurationEntity">
<xs:sequence>
<xs:element name="aircraftConfigID" type="xs:long" minOccurs="0"/>
<xs:element name="aircraftType" type="tns:aircraftTypeEntity" minOccurs="0"/>
<xs:element name="cabin" type="tns:cabinClassEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfCabinClasses" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftTypeEntity">
<xs:sequence>
<xs:element name="aircraftConfig" type="tns:aircraftConfigurationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="aircraftID" type="xs:long" minOccurs="0"/>
<xs:element name="maxCapacity" type="xs:int"/>
<xs:element name="typeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightEntity">
<xs:sequence>
<xs:element name="aircraftConfig" type="tns:aircraftConfigurationEntity" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="flightID" type="xs:long" minOccurs="0"/>
<xs:element name="flightNum" type="xs:string" minOccurs="0"/>
<xs:element name="flightRoute" type="tns:flightRouteEntity" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="returningFlight" type="tns:flightEntity" minOccurs="0"/>
<xs:element name="sourceFlight" type="tns:flightEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightRouteEntity">
<xs:sequence>
<xs:element name="complementaryRoute" type="tns:flightRouteEntity" minOccurs="0"/>
<xs:element name="destination" type="tns:airportEntity" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="flightRouteID" type="xs:long" minOccurs="0"/>
<xs:element name="flights" type="tns:flightEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="origin" type="tns:airportEntity" minOccurs="0"/>
<xs:element name="sourceRoute" type="tns:flightRouteEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airportEntity">
<xs:sequence>
<xs:element name="airportID" type="xs:long" minOccurs="0"/>
<xs:element name="airportName" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="gmt" type="xs:int"/>
<xs:element name="IATACode" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationEntity">
<xs:sequence>
<xs:element name="cabinClass" type="tns:cabinClassEntity" minOccurs="0"/>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="cvv" type="xs:string" minOccurs="0"/>
<xs:element name="fare" type="tns:fareEntity" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightScheduleEntity" minOccurs="0"/>
<xs:element name="passenger" type="tns:passengerEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservationID" type="xs:long" minOccurs="0"/>
<xs:element name="user" type="tns:userEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="passengerEntity">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="passengerID" type="xs:long" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userEntity">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userID" type="xs:long" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seatInventoryEntity">
<xs:sequence>
<xs:element name="available" type="xs:int"/>
<xs:element name="balance" type="xs:int"/>
<xs:element name="cabin" type="tns:cabinClassEntity" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightScheduleEntity" minOccurs="0"/>
<xs:element name="reserved" type="xs:int"/>
<xs:element name="seatInventoryID" type="xs:long" minOccurs="0"/>
<xs:element name="seats" type="ns1:unsignedShortArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBiggestFareResponse">
<xs:sequence>
<xs:element name="return" type="tns:fareEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightScheduleNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CabinClassNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerEntity">
<xs:complexContent>
<xs:extension base="tns:userEntity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightSchedules">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="tns:cabinClassTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightSchedulesResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightScheduleEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIndirectFlightSchedules">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="tns:cabinClassTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIndirectFlightSchedulesResponse">
<xs:sequence>
<xs:element name="return" type="tns:pair" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pair">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="cabinClassTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="F"/>
<xs:enumeration value="J"/>
<xs:enumeration value="W"/>
<xs:enumeration value="Y"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="scheduleTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SINGLE"/>
<xs:enumeration value="MULTIPLE"/>
<xs:enumeration value="RECURRENTDAY"/>
<xs:enumeration value="RECURRENTWEEK"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>