HolidayReservationSystemClient/xml-resources/web-service-references/FlightReservationWebService/wsdl/localhost_8080/FlightReservationWebService/FlightReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="FlightReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getFlightSchedules">
<part name="parameters" element="tns:getFlightSchedules"/>
</message>
<message name="getFlightSchedulesResponse">
<part name="parameters" element="tns:getFlightSchedulesResponse"/>
</message>
<message name="FlightNotFoundException">
<part name="fault" element="tns:FlightNotFoundException"/>
</message>
<message name="getIndirectFlightSchedules">
<part name="parameters" element="tns:getIndirectFlightSchedules"/>
</message>
<message name="getIndirectFlightSchedulesResponse">
<part name="parameters" element="tns:getIndirectFlightSchedulesResponse"/>
</message>
<message name="getBiggestFare">
<part name="parameters" element="tns:getBiggestFare"/>
</message>
<message name="getBiggestFareResponse">
<part name="parameters" element="tns:getBiggestFareResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="CabinClassNotFoundException">
<part name="fault" element="tns:CabinClassNotFoundException"/>
</message>
<portType name="FlightReservationWebService">
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/doLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getFlightSchedules">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedulesRequest" message="tns:getFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedulesResponse" message="tns:getFlightSchedulesResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedules/Fault/FlightNotFoundException"/>
</operation>
<operation name="getIndirectFlightSchedules">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedulesRequest" message="tns:getIndirectFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedulesResponse" message="tns:getIndirectFlightSchedulesResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedules/Fault/FlightNotFoundException"/>
</operation>
<operation name="getBiggestFare">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFareRequest" message="tns:getBiggestFare"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFareResponse" message="tns:getBiggestFareResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFare/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFare/Fault/CabinClassNotFoundException"/>
</operation>
</portType>
<binding name="FlightReservationWebServicePortBinding" type="tns:FlightReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getIndirectFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getBiggestFare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightReservationWebService">
<port name="FlightReservationWebServicePort" binding="tns:FlightReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/FlightReservationWebService/FlightReservationWebService"/>
</port>
</service>
</definitions>